<?xml version="1.0"?>
<config>
    <modules>
        <Omedrec_Trello>
            <version>0.1.0</version>
        </Omedrec_Trello>
    </modules>
    <global>
        <models>
            <trello>
                <class>Omedrec_Trello_Model</class>
                <resourceModel>trello_resource</resourceModel>
            </trello>
            <trello_resource>
                <class>Omedrec_Trello_Model_Resource</class>
                <entities>
                    <order>
                        <table>trello_order</table>
                    </order>
                    <list>
                        <table>trello_list</table>
                    </list>
                </entities>
            </trello_resource>
        </models>
        <helpers>
            <trello>
                <class>Omedrec_Trello_Helper</class>
            </trello>
        </helpers>
        <resources>
            <omederc_trello_setup>
                <setup>
                    <module>Omedrec_Trello</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </omederc_trello_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <order_add_trello_card>
                        <class>trello/observer</class>
                        <method>addOrderCart</method>
                    </order_add_trello_card>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Omedrec_Trello/>
            </modules>
        </suite>
    </phpunit>
</config>

